# Loan Data Analysis

### Importing the Libraries

In [1]:
# import the libraries

import numpy as np


# importing the warnings library

import warnings

In [2]:
# set print options

np.set_printoptions(suppress=True, linewidth=100, precision=2)



# setting the warnings library to ignore the warnings

warnings.filterwarnings('ignore')

### Importing the Data

In [3]:
# importing the dataset

data_raw = np.genfromtxt("loan-data.csv",
                           delimiter=";",
                           skip_header=1,
                           autostrip=True)


#displaying the dataset

data_raw

array([[48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       [59432726.  ,         nan,    15000.  , ...,         nan,         nan,     1969.83],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

### Checking the Data for Missing Values and Replacing Them

In [4]:
# finding the number of missing values in the dataset

np.isnan(data_raw).sum()

88005

In [5]:
# creating the temporary fill value

temp_fill = np.nanmax(data_raw) + 1


# creating a temporary mean value across the columns to fill them later

temp_mean = np.nanmean(data_raw, axis=0)


# display the temporary mean

temp_mean

array([54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
            440.92,         nan,         nan,         nan,         nan,         nan,     3143.85])

In [6]:
# creating a array containing the variables that will be used later

temp_stats = np.array([np.nanmin(data_raw, axis=0),
                       temp_mean,
                       np.nanmax(data_raw, axis=0)])


# displaying the temp stats variable

temp_stats

array([[  373332.  ,         nan,     1000.  ,         nan,     1000.  ,         nan,        6.  ,
              31.42,         nan,         nan,         nan,         nan,         nan,        0.  ],
       [54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
             440.92,         nan,         nan,         nan,         nan,         nan,     3143.85],
       [68616519.  ,         nan,    35000.  ,         nan,    35000.  ,         nan,       28.99,
            1372.97,         nan,         nan,         nan,         nan,         nan,    41913.62]])

---

## Splitting the Dataset

### Splitting the Columns

In [7]:
# defining the columns in the data set where there are only strings

column_strings = np.argwhere(np.isnan(temp_mean)).squeeze()


# display the array containing the index of the columns containing strings

column_strings

array([ 1,  3,  5,  8,  9, 10, 11, 12], dtype=int64)

In [8]:
# defining the columna in the data set where there are only integers

column_numeric = np.argwhere(np.isnan(temp_mean)==False).squeeze()


# display the array containing the index of the columns containing integers

column_numeric

array([ 0,  2,  4,  6,  7, 13], dtype=int64)

### Re-importing the dataset

In [9]:
# defining the sub-dataset containing only the strings

data_strings = np.genfromtxt("loan-data.csv",
                            delimiter=";",
                            skip_header=1,
                            autostrip=True,
                            usecols=column_strings,
                            dtype='str')

# displaying the sub-dataset containing only strings

data_strings

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [10]:
# defining the sub-set containig only the numeric

data_numeric = np.genfromtxt("loan-data.csv",
                            delimiter=';',
                            autostrip=True,
                            usecols=column_numeric,
                            skip_header=1,
                            dtype='int',
                            filling_values=temp_fill)


# displaying the sub-dataset containing only numeric

data_numeric

array([[48010226,    35000,    35000,       13,     1184,     9452],
       [57693261,    30000,    30000, 68616520,      938,     4679],
       [59432726,    15000,    15000, 68616520,      494,     1969],
       ...,
       [50415990,    10000,    10000, 68616520, 68616520,     2185],
       [46154151, 68616520,    10000,       16,      354,     3199],
       [66055249,    10000,    10000, 68616520,      309,      301]])

### Defining the Header Arrays for the Datasets

In [11]:
# defining the header row of the raw data

header_full = np.genfromtxt('loan-data.csv',
                           delimiter=';',
                           skip_footer=data_raw.shape[0],
                           dtype='str')


# displaying the complete header array

header_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [12]:
# defining the headers for the strings and numeric sub-dataset

header_strings, header_numeric = header_full[column_strings], header_full[column_numeric]


# displaying the arrays for the strings and numeric headers

header_strings, header_numeric

(array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
        'addr_state'], dtype='<U19'),
 array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19'))

---

## Creating Checkpoints

### Defining the Checkpoint Function

In [13]:
# defining the checkpoint fuction

def checkpoint(file_name, checkpoint_header, checkpoint_data):
    np.savez(file_name, header=checkpoint_header, data=checkpoint_data)
    checkpoint_variable = np.load(file_name + ".npz")
    return(checkpoint_variable)

### Checkpoint 1

In [14]:
# setting up a checkpoint for all the string data

checkpoint_split_string = checkpoint("checkpoint-split-string",
                             header_strings,
                             data_strings)


# checking if the data stored in the checkpoint is correct

np.array_equal(checkpoint_split_string['data'], data_strings), np.array_equal(checkpoint_split_string['header'], header_strings)

(True, True)

In [15]:
# setting up a checkpoint for all the numeric data

checkpoint_split_numeric = checkpoint("checkpoint-split-numeric",
                                     header_numeric,
                                     data_numeric)


# checking if the data stored in the checkpoint is correct

np.array_equal(checkpoint_split_numeric['data'], data_numeric), np.array_equal(checkpoint_split_numeric['header'], header_numeric)

(True, True)

## Transforming the String Dataset

In [16]:
# displaying the string headers and the string sub-dataset

header_strings, data_strings

(array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
        'addr_state'], dtype='<U19'),
 array([['May-15', 'Current', '36 months', ..., 'Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
        ['', 'Current', '36 months', ..., 'Source Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
        ['Sep-15', 'Current', '36 months', ..., 'Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
        ...,
        ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
        ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
        ['Dec-15', 'Current', '36 months', ..., '',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
       dtype='<U69'))

### Issue Date

In [17]:
# changing the header name from issue_d to issue_date

header_strings[0] = 'issue_date'


# displaying all the unique values in the issue_date column

np.unique(data_strings[:,0])

array(['', 'Apr-15', 'Aug-15', 'Dec-15', 'Feb-15', 'Jan-15', 'Jul-15', 'Jun-15', 'Mar-15',
       'May-15', 'Nov-15', 'Oct-15', 'Sep-15'], dtype='<U69')

In [18]:
# stripping away the year indicator from the dataset as the data is provided only for a single year

data_strings[:,0] = np.chararray.strip(data_strings[:,0], "-15")


# displaying all the unique values in the transformed issue_date column

np.unique(data_strings[:,0])

array(['', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep'],
      dtype='<U69')

In [19]:
# creating a month array to transform the issue_data column, numeric

months = np.array(['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])


# assign corresponding numeric values to the months

for i in range(len(np.unique(data_strings[:,0]))):
    data_strings[:,0] = np.where(data_strings[:,0]==months[i],
                                i,
                                data_strings[:,0])


# displaying all the sorted unique values in the transformed issue_date column

np.sort(np.unique(data_strings[:,0]))

array(['0', '1', '10', '11', '12', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U69')

### Loan Status

In [20]:
# displaying the unique values in the loan_status column and the number of unique values

np.unique(data_strings[:,1]), np.unique(data_strings[:,1]).size

(array(['', 'Charged Off', 'Current', 'Default', 'Fully Paid', 'In Grace Period', 'Issued',
        'Late (16-30 days)', 'Late (31-120 days)'], dtype='<U69'),
 9)

In [21]:
# create an array listing all the status that are deemed as bad

bad_status = np.array(['','Charged Off', 'Default', 'Late (31-120 days)'])

In [22]:
# substitute 0 for all the locations where the loan status is bad and 1 for all other locations

data_strings[:,1] = np.where(np.isin(data_strings[:,1], bad_status),0,1)


# display all the unique values in the transformed loan_status column

np.unique(data_strings[:,1])

array(['0', '1'], dtype='<U69')

### Term

In [23]:
# changing the header name from term to term_months

header_strings[2] = "term_months"


# displaying the unique values in the term column
np.unique(data_strings[:,2])

array(['', '36 months', '60 months'], dtype='<U69')

In [24]:
# Stripping the ' months' string from the term_months column to make it numeric

data_strings[:,2] = np.chararray.strip(data_strings[:,2], " months")


# replacing all nan columns with 60 months, as information not present equates to worst case scenario

data_strings[:,2] = np.where(data_strings[:,2] == '',
                            60,
                            data_strings[:,2])


# display all the unique values in the transformed term_months column

np.unique(data_strings[:,2])

array(['36', '60'], dtype='<U69')

### Grade and Subgrade

In [25]:
# displaying the unique values in grade and sub-grade column

np.unique(data_strings[:,3]), np.unique(data_strings[:,4])

(array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69'),
 array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
        'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
        'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69'))

In [26]:
# Assigning the lowest subgrade to the missing values where the grade is present

for i in np.unique(data_strings[:,3])[1:]:
    data_strings[:,4] = np.where((data_strings[:,4] == '') & (data_strings[:,3] == i),
                                i + '5',
                                data_strings[:,4])

    
# assigning a new subgrade to the values where both grades and subgrades are missing

data_strings[:,4] = np.where(data_strings[:,4] == '',
                            "H1",
                            data_strings[:,4])


# displaying the unique values in the transformed subgrade column
np.unique(data_strings[:,4], return_counts=True)

(array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
        'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
        'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69'),
 array([285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267, 250,
        255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5,   9],
       dtype=int64))

In [27]:
# deleting the grade column in both string headers and data as the subgrade already holds the necessay information on the grades

data_strings = np.delete(data_strings, 3, axis=1)

header_strings = np.delete(header_strings, 3)


# display the data_string and header_strings

header_strings, data_strings

(array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'url',
        'addr_state'], dtype='<U19'),
 array([['5', '1', '36', ..., 'Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
        ['0', '1', '36', ..., 'Source Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
        ['9', '1', '36', ..., 'Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
        ...,
        ['6', '1', '36', ..., 'Source Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
        ['4', '1', '36', ..., 'Source Verified',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
        ['12', '1', '36', ..., '',
         'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
       dtype='<U69'))

In [28]:
# a dictionary is created to assign numeric values to the subgrades

keys = list(np.unique(data_strings[:,3]))
values = list(range(1, np.unique(data_strings[:,3]).shape[0] + 1))
dict_subgrade = dict(zip(keys,values))


# displaying the dictionary containing the subgrades and their assigned integers

dict_subgrade

{'A1': 1,
 'A2': 2,
 'A3': 3,
 'A4': 4,
 'A5': 5,
 'B1': 6,
 'B2': 7,
 'B3': 8,
 'B4': 9,
 'B5': 10,
 'C1': 11,
 'C2': 12,
 'C3': 13,
 'C4': 14,
 'C5': 15,
 'D1': 16,
 'D2': 17,
 'D3': 18,
 'D4': 19,
 'D5': 20,
 'E1': 21,
 'E2': 22,
 'E3': 23,
 'E4': 24,
 'E5': 25,
 'F1': 26,
 'F2': 27,
 'F3': 28,
 'F4': 29,
 'F5': 30,
 'G1': 31,
 'G2': 32,
 'G3': 33,
 'G4': 34,
 'G5': 35,
 'H1': 36}

In [29]:
# assigning the respective numeric values to the subgrade column

for i in np.unique(data_strings[:,3]):
    data_strings[:,3] = np.where(data_strings[:,3] == i,
                                dict_subgrade[i],
                                data_strings[:,3])

    
# displaying the transformed subgrade column

np.sort(np.unique(data_strings[:,3]))

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36',
       '4', '5', '6', '7', '8', '9'], dtype='<U69')

### Verification Status

In [30]:
# displaying the unique values in the verification status table

np.unique(data_strings[:,4])

array(['', 'Not Verified', 'Source Verified', 'Verified'], dtype='<U69')

In [31]:
# assigning numeric values to the verification status table by classifying it under verified and not verifies status

data_strings[:,4] = np.where((data_strings[:,4] =='') | (data_strings[:,4] == 'Not Verified'), 0, 1)


# displaying the unique values in the transformed verification status table

np.unique(data_strings[:,4])

array(['0', '1'], dtype='<U69')

### URL

In [32]:
# the url colum is not useful and the information it provides is already present in the id header
# deleting the url column from the strings sub-dataset

data_strings = np.delete(data_strings, 5, axis=1)


# deleting the url header from the header array

header_strings = np.delete(header_strings, 5)


# display header_strings and data_strings

header_strings, data_strings

(array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
        'addr_state'], dtype='<U19'),
 array([['5', '1', '36', '13', '1', 'CA'],
        ['0', '1', '36', '5', '1', 'NY'],
        ['9', '1', '36', '10', '1', 'PA'],
        ...,
        ['6', '1', '36', '5', '1', 'CA'],
        ['4', '1', '36', '17', '1', 'OH'],
        ['12', '1', '36', '4', '0', 'IL']], dtype='<U69'))

### State Address

In [33]:
# changing the header of the state address

header_strings[5] = 'state_address'

In [34]:
# assigning the unique values of states and count to 2 variables

state_names, states_count = np.unique(data_strings[:,5], return_counts=True)


# sorting the states count and loading them as arguments to a variable

states_count_sorted = np.argsort(-states_count)


# displaying the states and states_count in the sorted order

state_names[states_count_sorted], states_count[states_count_sorted]

(array(['CA', 'NY', 'TX', 'FL', '', 'IL', 'NJ', 'GA', 'PA', 'OH', 'MI', 'NC', 'VA', 'MD', 'AZ',
        'WA', 'MA', 'CO', 'MO', 'MN', 'IN', 'WI', 'CT', 'TN', 'NV', 'AL', 'LA', 'OR', 'SC', 'KY',
        'KS', 'OK', 'UT', 'AR', 'MS', 'NH', 'NM', 'WV', 'HI', 'RI', 'MT', 'DE', 'DC', 'WY', 'AK',
        'NE', 'SD', 'VT', 'ND', 'ME'], dtype='<U69'),
 array([1336,  777,  758,  690,  500,  389,  341,  321,  320,  312,  267,  261,  242,  222,  220,
         216,  210,  201,  160,  156,  152,  148,  143,  143,  130,  119,  116,  108,  107,   84,
          84,   83,   74,   74,   61,   58,   57,   49,   44,   40,   28,   27,   27,   27,   26,
          25,   24,   17,   16,   10], dtype=int64))

In [35]:
# assigning a value to the empty values in state address

data_strings[:,5] = np.where(data_strings[:,5] == '',
                            0,
                            data_strings[:,5])

# displaying the string dataset

data_strings

array([['5', '1', '36', '13', '1', 'CA'],
       ['0', '1', '36', '5', '1', 'NY'],
       ['9', '1', '36', '10', '1', 'PA'],
       ...,
       ['6', '1', '36', '5', '1', 'CA'],
       ['4', '1', '36', '17', '1', 'OH'],
       ['12', '1', '36', '4', '0', 'IL']], dtype='<U69')

In [36]:
# reducing the number of variables in the number of states by assigning the states to respective regions

states_west = np.array(['WA', 'OR','CA','NV','ID','MT', 'WY','UT','CO', 'AZ','NM','HI','AK'])
states_south = np.array(['TX','OK','AR','LA','MS','AL','TN','KY','FL','GA','SC','NC','VA','WV','MD','DE','DC'])
states_midwest = np.array(['ND','SD','NE','KS','MN','IA','MO','WI','IL','IN','MI','OH'])
states_east = np.array(['PA','NY','NJ','CT','MA','VT','NH','ME','RI'])

**The above classification is done based on the proper documentation provided by the US government**

https://www2.census.gov/geo/pdfs/maps-data/maps/reference/us_regdiv.pdf

In [37]:
# assigning values to the state regions

data_strings[:,5] = np.where(np.isin(data_strings[:,5], states_west), 1, data_strings[:,5])
data_strings[:,5] = np.where(np.isin(data_strings[:,5], states_south), 2, data_strings[:,5])
data_strings[:,5] = np.where(np.isin(data_strings[:,5], states_midwest), 3, data_strings[:,5])
data_strings[:,5] = np.where(np.isin(data_strings[:,5], states_east), 4, data_strings[:,5])


# displaying the unique values in the state address column

np.unique(data_strings[:,5])

array(['0', '1', '2', '3', '4'], dtype='<U69')

## Converting to Integers

In [38]:
# converting the string dataset to integers for easy analysis

data_strings = data_strings.astype('int')


# displaying the converted data_strings dataset

data_strings

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

## Checkpoint

### Checkpoint 2

In [39]:
# creating a checkpoint for the transformed string variables

checkpoint_strings = checkpoint("checkpoint-strings",
                               header_strings,
                               data_strings)


# checking if the data stored in the checkpoint is correct

np.array_equal(checkpoint_strings['data'], data_strings), np.array_equal(checkpoint_strings['header'], header_strings)

(True, True)

## Transforming the Numeric Dataset

In [40]:
# displaying the string headers and the string sub-dataset and checking for any nan values

header_numeric, data_numeric, np.isnan(data_numeric).sum()

(array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19'),
 array([[48010226,    35000,    35000,       13,     1184,     9452],
        [57693261,    30000,    30000, 68616520,      938,     4679],
        [59432726,    15000,    15000, 68616520,      494,     1969],
        ...,
        [50415990,    10000,    10000, 68616520, 68616520,     2185],
        [46154151, 68616520,    10000,       16,      354,     3199],
        [66055249,    10000,    10000, 68616520,      309,      301]]),
 0)

### Sustitute "Filler" Values

### ID

In [41]:
# we must check if any of the values in the column are equal to the temporary fill

np.isin(data_numeric[:,0], temp_fill).sum()

0

#### Temporary Stats

In [42]:
# the temporary stats customized for the numeric dataset
# unlike series, arrays only take numerical indices

temp_stats[:, column_numeric]

array([[  373332.  ,     1000.  ,     1000.  ,        6.  ,       31.42,        0.  ],
       [54015809.19,    15273.46,    15311.04,       16.62,      440.92,     3143.85],
       [68616519.  ,    35000.  ,    35000.  ,       28.99,     1372.97,    41913.62]])

### Funded Amount

In [43]:
# the funded amount is assigned min amount so that the risk of the loan is low

data_numeric[:,2] = np.where(data_numeric[:,2] == temp_fill,
                            temp_stats[0,column_numeric[2]],
                            data_numeric[:,2])


# displaying the funded amount column in the data_numeric array

data_numeric[:,2]

array([35000, 30000, 15000, ..., 10000, 10000, 10000])

### Loaned Amount, Interest Rate, Total Payment, Installment

In [44]:
# these columns are assigned the max value for its missing values as it reduces the risk

for i in [1,3,4,5]:
    data_numeric[:,i] = np.where(data_numeric[:,i] == temp_fill,
                                temp_stats[2, column_numeric[i]],
                                data_numeric[:,i])
    
    
# displaying the data_numeric dataset

data_numeric

array([[48010226,    35000,    35000,       13,     1184,     9452],
       [57693261,    30000,    30000,       28,      938,     4679],
       [59432726,    15000,    15000,       28,      494,     1969],
       ...,
       [50415990,    10000,    10000,       28,     1372,     2185],
       [46154151,    35000,    10000,       16,      354,     3199],
       [66055249,    10000,    10000,       28,      309,      301]])

## Changing the currency

### The Exchange Rate

In [45]:
# importing the csv file containing the exchange rates across the months for the year 2015

eur_usd = np.genfromtxt("EUR-USD.csv",
                        delimiter=',',
                        autostrip=True,
                        skip_header=1,
                        usecols=3)


# displaying the imported dataset containing the exchange rate

eur_usd

array([1.13, 1.12, 1.08, 1.11, 1.1 , 1.12, 1.09, 1.13, 1.13, 1.1 , 1.06, 1.09])

In [46]:
# creating a new array that is the copy of the issue date of the loan

exchange_rate = data_strings[:,0]


# exchange rates for the respective months are assigned in the place of the months

for i in range(1, 13):
    exchange_rate = np.where(exchange_rate == i,
                            eur_usd[i-1],
                            exchange_rate)


# for loan where the issue date was unknown, the mean of the exchange rate for the year was assigned

exchange_rate = np.where(exchange_rate == 0,
                        np.mean(eur_usd),
                        exchange_rate)

### Reshaping the exchange rate array

In [47]:
# comparing the shapes of exchange_rate and data_numeric array for future appending

exchange_rate.shape, data_numeric.shape

((10000,), (10000, 6))

In [48]:
# reshaping the exchange_rate array

exchange_rate = np.reshape(exchange_rate, (10000,1))

### Concartenating two arrays

In [49]:
# appending the exchange_rate array horizontally to the data_numeric array

data_numeric = np.hstack((data_numeric, exchange_rate))


# adding a new header to the header_numeric

header_numeric = np.concatenate((header_numeric, np.array(['exchange_rate'])))


# displaying the data_numeric and header_numeric arrays

header_numeric, data_numeric

(array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate'],
       dtype='<U19'),
 array([[48010226.  ,    35000.  ,    35000.  , ...,     1184.  ,     9452.  ,        1.1 ],
        [57693261.  ,    30000.  ,    30000.  , ...,      938.  ,     4679.  ,        1.11],
        [59432726.  ,    15000.  ,    15000.  , ...,      494.  ,     1969.  ,        1.13],
        ...,
        [50415990.  ,    10000.  ,    10000.  , ...,     1372.  ,     2185.  ,        1.12],
        [46154151.  ,    35000.  ,    10000.  , ...,      354.  ,     3199.  ,        1.11],
        [66055249.  ,    10000.  ,    10000.  , ...,      309.  ,      301.  ,        1.09]]))

### From USD to EUR

In [50]:
# defining an array containing the addresses of the columns in data_numeric that need to be changed

column_dollar = np.array([1,2,4,5])


# creating and appending new columns that are in euros

for i in column_dollar:
    data_numeric = np.hstack((data_numeric, 
                              np.reshape(data_numeric[:,i] / data_numeric[:,6],
                                        (10000,1))))
    

# creating new headers and appending them to header_numeric

header_numeric = np.concatenate((header_numeric, 
                                 np.array([i + '_eur' for i in header_numeric[column_dollar]])))


# renaming the existing headers

header_numeric[column_dollar] = np.array([i + '_USD' for i in header_numeric[column_dollar]])


# rearranging the headers and the data columns to make it more sensible

column_numeric_order = [0,1,7,2,8,3,4,9,5,10,6]

header_numeric = header_numeric[column_numeric_order]

data_numeric = data_numeric[:, column_numeric_order]


# display the header_numeric and data_numeric tables

header_numeric, data_numeric

(array(['id', 'loan_amnt_USD', 'loan_amnt_eur', 'funded_amnt_USD', 'funded_amnt_eur', 'int_rate',
        'installment_USD', 'installment_eur', 'total_pymnt_USD', 'total_pymnt_eur', 'exchange_rate'],
       dtype='<U19'),
 array([[48010226.  ,    35000.  ,    31933.3 , ...,     9452.  ,     8623.82,        1.1 ],
        [57693261.  ,    30000.  ,    27132.46, ...,     4679.  ,     4231.76,        1.11],
        [59432726.  ,    15000.  ,    13326.3 , ...,     1969.  ,     1749.3 ,        1.13],
        ...,
        [50415990.  ,    10000.  ,     8910.3 , ...,     2185.  ,     1946.9 ,        1.12],
        [46154151.  ,    35000.  ,    31490.9 , ...,     3199.  ,     2878.27,        1.11],
        [66055249.  ,    10000.  ,     9145.8 , ...,      301.  ,      275.29,        1.09]]))

### Interest Rate

In [51]:
# convering the interest rate form percentage form to probability form for easy calculation

data_numeric[:,5] = data_numeric[:, 5] / 100


# display the interest rate row in the data_numeric column
data_numeric[:,5]

array([0.13, 0.28, 0.28, ..., 0.28, 0.16, 0.28])

## Checkpoint

### Checkpoint 3

In [52]:
# creating a checkpoint for the transformed numeric variables

checkpoint_numeric = checkpoint("checkpoint-numeric",
                               header_numeric,
                               data_numeric)


# checking if the data stored in the checkpoint is correct

np.array_equal(checkpoint_numeric['data'], data_numeric), np.array_equal(checkpoint_numeric['header'], header_numeric)

(True, True)

## Creating the "Complete" Dataset

In [53]:
# concatenating the numeric and string data arrays

loan_data = np.hstack((checkpoint_numeric['data'], checkpoint_strings['data']))


# concatenating the numeric and string header arrays

loan_header = np.concatenate((checkpoint_numeric['header'], checkpoint_strings['header']))


# displaying the concatenated header and data

loan_header, loan_data

(array(['id', 'loan_amnt_USD', 'loan_amnt_eur', 'funded_amnt_USD', 'funded_amnt_eur', 'int_rate',
        'installment_USD', 'installment_eur', 'total_pymnt_USD', 'total_pymnt_eur', 'exchange_rate',
        'issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
        'state_address'], dtype='<U19'),
 array([[48010226.  ,    35000.  ,    31933.3 , ...,       13.  ,        1.  ,        1.  ],
        [57693261.  ,    30000.  ,    27132.46, ...,        5.  ,        1.  ,        4.  ],
        [59432726.  ,    15000.  ,    13326.3 , ...,       10.  ,        1.  ,        4.  ],
        ...,
        [50415990.  ,    10000.  ,     8910.3 , ...,        5.  ,        1.  ,        1.  ],
        [46154151.  ,    35000.  ,    31490.9 , ...,       17.  ,        1.  ,        3.  ],
        [66055249.  ,    10000.  ,     9145.8 , ...,        4.  ,        0.  ,        3.  ]]))

## Sorting the New Dataset

In [54]:
# sorting the entire dataset based on the ID column in ascending order

loan_data = loan_data[np.argsort(loan_data[:,0])]


# displaying the transformed dataset

loan_data

array([[  373332.  ,     9950.  ,     9038.08, ...,       21.  ,        0.  ,        1.  ],
       [  575239.  ,    12000.  ,    10900.2 , ...,       25.  ,        1.  ,        2.  ],
       [  707689.  ,    10000.  ,     8924.3 , ...,       13.  ,        1.  ,        0.  ],
       ...,
       [68614880.  ,     5600.  ,     5121.65, ...,        8.  ,        1.  ,        1.  ],
       [68615915.  ,     4000.  ,     3658.32, ...,       10.  ,        1.  ,        2.  ],
       [68616519.  ,    21600.  ,    19754.93, ...,        3.  ,        0.  ,        2.  ]])

## Storing the New Dataset

In [55]:
# concatenating the header and data of the complete dataset

loan_data = np.vstack((loan_header, loan_data))


# save the dataset in the form of a csv

np.savetxt("loan-data-preprpcessed.csv",
          loan_data,
          fmt='%s',
          delimiter=',')